/* 全体のスタイル */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  padding: 20px !important;
  background-color: #f4f4f9 !important;
  margin: 0 !important;
  height: 100vh !important; /* ビューポートの高さを100%に */
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important; /* 上下の余白を自動調整 */
  font-size: 16px !important; /* フォントサイズを16pxに設定 */
}

/* サーベイ全体のコンテナ */
#survey-container {
  max-width: 80% !important;
  margin: 0 auto !important;
  padding: 40px !important;  /* パディングを広げる */
  background-color: #fff !important;
  border-radius: 8px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  height: 75% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important; /* 上下の間隔を均等に */
}

/* 質問文のスタイル */
#question {
  font-size: 1.5rem !important; /* フォントサイズを適切に設定 */
  margin-bottom: 80px !important;
  text-align: left !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  flex-grow: 1 !important;
}

/* 選択肢のスタイル */
#choices {
  display: flex !important;
  justify-content: space-evenly !important;
  flex-wrap: wrap !important;
  gap: 100px !important;
  margin-bottom: 20px !important;
  flex-grow: 5 !important;
}

/* 各選択肢の文字をクリックするためのスタイル */
.choice-container {
  flex-basis: 30% !important;
  text-align: center !important;
  cursor: pointer !important;
}

.choice-container .choice-text {
  font-size: 1.5rem !important;
  padding: 20px !important;
  background-color: #f0f0f0 !important;
  border: 1px solid #ddd !important;
  border-radius: 5px !important;
  transition: background-color 0.3s ease !important, color 0.3s ease !important;
  display: inline-block !important;
}

/* 次のボタンのスタイル */
#next-button {
  margin-top: 40px !important;
  padding: 20px 40px !important;
  background-color: #4CAF50 !important;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  position: fixed !important;
  bottom: 40px !important;
  right: 20px !important;
  z-index: 100 !important;
  font-size: 1.75rem !important;
}

/* ボタンのホバー効果 */
#next-button:hover {
  background-color: #45a049 !important;
}


