/* 全体のスタイル */
body {
  font-family: Arial, sans-serif;
  font-size: 50px;
  padding: 100px;
  background-color: #f4f4f9;
  margin: 0;
}

.jspsych-btn {
  font-size: 50px;  /* フォントサイズを50pxに設定 */
  padding: 20px 40px;  /* ボタンの内側の余白を調整 */
  background-color: #f0f0f0;  /* 背景色を変更 */
  border: 2px solid #ddd;  /* 枠線の設定 */
  border-radius: 10px;  /* 角丸 */
}

/* サーベイ全体のコンテナ */
#survey-container {
  max-width: 1800px;
  font-size: 50px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 質問文のスタイル */
#question {
  font-size: 50px;
  margin-bottom: 80px;
  text-align: left;
  white-space: pre-wrap; /* 改行を保持 */
  word-wrap: break-word; /* 長い単語を折り返す */
}



/* 選択肢のスタイル */
#choices {
  display: flex;
  font-size: 50px;
  justify-content: space-evenly;  /* 選択肢を均等に配置 */
  flex-wrap: wrap;  /* 必要に応じて折り返し */
  padding: 20px;
  min-height:50px;
  gap: 10px;  /* 選択肢間の間隔 */
  margin-bottom: 10px;
}

/* 各選択肢の文字をクリックするためのスタイル */
.choice-container {
  flex-basis: 100%;  /* 画面に応じて均等に配置 */
  text-align: center;
  font-size: 100px;
  cursor: pointer;
}


.choice-container .choice-text {
  font-size: 50px !important;
  padding: 30px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
}

/* クリックされた選択肢の赤色変更 */
.choice-container.selected .choice-text {
  background-color: #ff0000;
  color: white;
}

/* 次のボタンのスタイル */
#next-button {
  margin-top: 80px;
  font-size: 30px;
  padding: 60px 100px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: fixed;
  bottom:75px;
  right: 60px;
  z-index: 100;  /* ボタンが他の要素の上に表示されるように */
}

/* ボタンのホバー効果 */
#next-button:hover {
  background-color: #45a049;
}

/* スペースと改行を維持 */
.choice-container .choice-text,
#question {
  white-space: pre-wrap; /* 改行を保持 */
  word-wrap: break-word; /* 長い単語を折り返す */
}

/* ボタンが選択された場合のスタイル */
button.selected {
  font-size: 60px;	
  background-color: #ff0000;
  color: white;
}

/* 質問のヘッダーやタイトル */
#question-header {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* 画面サイズに合わせた選択肢の調整 */
.choices-container {
  display: flex;
  font-size: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.choices-container div {
  text-align: center;
  font-size: 50px;
  width: 100%; /* 各選択肢を均等に表示 */
  max-width: 100px;  /* 選択肢の最大幅を設定 */
}
